html {
  font-size: 16px;
}

body {
  background-color: rgba(233, 191, 255, 0.5);
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 3rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

#squarerow {
  display: flex;
}

.square {
  margin: 0.5rem 0.5rem;
  width: 100px;
  height: 100px;
}
